/* Home */

.background {
    height: 100%;
    background-color: #eeedee;
    display: flex;
    justify-content: center;
}

.main__padding {
    padding: 20px;
    background-color: white;
    width: 800px;
}