/* Peer Box */

.peer__box {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: aquamarine;
  width: 400px;
  height: 225px;
  border-radius: 10px;
  margin: 10px;
}
.peer__info {
  position: absolute;
  bottom: 0;
  padding: 5px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: #eeeeee;
  transform: translateY(50px);
  transition: all 0.3s ease;
  border-radius: 10px;
}

.peer__box:hover .peer__info {
  transform: translateY(0);
}

.peer__profile {
  display: flex;
  align-items: center;
}

.peer__name {
  margin: 0 8px;
  font-weight: 500;
  transform: scaleY(0.9);
}

.me {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-weight: bold;
  width: 50px;
  height: 50px;
  color: white;
  background-color: cornflowerblue;
  z-index: 1;
}

.peer__speaking {
  border: 2px solid #3aff44;
}

/* Temp attribute - testing video view form*/

.peer__video img {
  width: 100%;
  transform: translateY(-100px);
}

.peer__profile img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.messagebox {
  position: absolute;
  background-color: wheat;
  padding: 5px 10px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 10px;
  z-index: 4;
}