.container {
    position: relative;
    background-color: #333333;
    display: flex;
    justify-content: center;
    height: 100vh;
}

.title {
    position: absolute;
    top: 20px;
    left: 15px;
    font-weight: bold;
    color: white;
    font-size: 30px;
    transform: scaleY(0.9);
    letter-spacing: 0.03em;
}

.peers {
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
    width: 80%;
    max-width: 900px;
    padding: 60px 0;
  }
  
