.container {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    height: 35px;
    background-color: white;
}

.header__border {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 120%;
    overflow-x: hidden;
}

.border {
    position: absolute;
    height: 80%;
    width: 150%;
    top: 0;
    left: -20%;
    box-shadow: 0px 8px 10px -10px;
}

.header__display {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 5px;
    z-index: 1;
}

.left,
.right {
    display: flex;
    align-items: center;
    width: 50%;
    flex-grow: 1;
}

.right {
    justify-content: right;
}

.title {
    margin-left: 5px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

.profile {
    display: flex;
    align-items: center;
    height: 100%;
}

.name {
    font-weight: bold;
    font-size: 15px;
    margin-right: 20px;
}

.profile__image {
    height: 27px;
    width: 27px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}
