.container {
    position: absolute;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: -1;
    padding-top: 35px;
    display: flex;
    background-color: #edeeee;
}

.wrapper {
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 5vw;
}

.title {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 30px;
}

.signup__form {
    display: flex;
    flex-direction: column;
}

.signup__input {
    border: none;
    border-bottom: 1px solid #aeaeae;
    margin-bottom: 30px;
    font-weight: bold;
}

.signup__input::placeholder {
    color: #aeaeae;
    font-weight: bold;
}

.signup__input:focus {
    outline: none;
}

.btnbox {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 12px;
    margin: 4px;
    border-radius: 5px;
    flex-grow: 1;
    padding: 10px 0;
    cursor: pointer;
}

.signupbtn {
    border: none;
    outline: none;
    color: white;
    background-color: #1876d2;
}

.signupbtn:hover {
    background-color: #0867c7;
}

.profilebox {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.editform {
    position: absolute;
    font-size: 25px;
    font-weight: bold;
    color: white;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    opacity: 0;
    transition: all 0.2s linear;
    border-radius: 50%;
}

.profilebox:hover .editform {
    opacity: 1;
}

.imginput {
    display: none;
}

.profilebox img {
    width: 150px;
    border-radius: 50%;
}

.loading {
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 3;
}